*{
  font-family: 'Itim', cursive;
}

p{
  font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.FoodList{
  display: flex;
  flex-direction: column;
}

.heart-icon{
  width:35px;
  padding: 5px;
}

.heart-icon img {
  width: 100%;
}

.FoodCard {
  border: 5px dashed pink;
  margin: 10px 15% 50px 15%;

}

.FoodContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.FoodImage{
  width: 250px;
}

.FoodImage img {
  width: 100%;
  padding: 8px;
}

.Price {
  padding-right: 20px;
}

.Image-Name-Description{
  display: flex;
}

.Name-Description{
  width: 500px;
  padding-left: 40px;
}
/* Media Queries */
@media (max-width:1300px){
  .FoodCard {
    margin: 10px 10% 50px 10%;
  }

  .Name-Description{
    width: 450px;
  }
}

@media (max-width:1050px){
  .FoodCard {
    margin: 10px 5% 50px 5%;
  }

  .Name-Description{
    width: 400px;
  }
}

@media (max-width:950px){
  .Name-Description{
    width: 300px;
  }
}

@media (max-width:800px){
  .Name-Description{
    width: 200px;
  }
}


@media (max-width:650px){
  .FoodContainer{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .Image-Name-Description{
    flex-direction: column;
    justify-content: center;
  }

  .Heart-Price{
    display:flex;
    justify-content: center;
  }

  .Price{
    order: -1;
  }

  .Name-Description{
    text-align: center;
    width: 250px;
    padding-left: 0px;
  }

  .FoodCard{
    display: flex;
    justify-content: center;
    width: 300px;
  }

  .OuterFoodCard{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}